# Challenge Part 2: Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [1]:
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import ipywidgets as widgets
widgets.IntSlider()

from IPython.display import display
from config import g_key

In [2]:
city_data_df = pd.read_csv("./data/WeatherPy_Database.csv")
city_data_df

,city_ID,City,Lat,Lng,Max Temp,Current Description,Rain (inches),Snow (inches),Humidity,Cloudiness,Wind Speed,Country
0,0,khatanga,71.97,102.50,63.37,scattered clouds,0,0.0,55,8.30,8.30,RU
1,1,avarua,-21.21,-159.78,75.20,clear sky,0,0.0,64,6.93,6.93,CK
2,2,busselton,-33.65,115.33,61.00,broken clouds,0,0.0,90,15.21,15.21,AU
3,3,rio grande,-32.03,-52.10,43.00,overcast clouds,0,0.0,94,8.37,8.37,BR
4,4,rikitea,-23.12,-134.97,73.85,overcast clouds,0,0.0,80,14.45,14.45,PF
...,...,...,...,...,...,...,...,...,...,...,...,...
567,567,dwarka,22.24,68.97,86.02,overcast clouds,0,0.0,75,13.33,13.33,IN
568,568,weligama,5.97,80.42,81.18,light rain,0,0.4,84,8.90,8.90,LK
569,569,north platte,41.12,-100.77,84.20,clear sky,0,0.0,48,10.29,10.29,US
570,570,tarime,-1.35,34.37,69.80,few clouds,0,0.0,77,4.54,4.54,TZ
571,571,chornukhy,50.27,32.94,62.33,clear sky,0,0.0,87,2.73,2.73,UA

In [3]:
#To check the the Data Type
city_data_df.dtypes

city_ID                  int64
City                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Current Description     object
Rain (inches)            int64
Snow (inches)          float64
Humidity                 int64
Cloudiness             float64
Wind Speed             float64
Country                 object
dtype: object

In [4]:
#Configure Gmaps
gmaps.configure(api_key=g_key)

In [7]:
#Enter max temperature criteria
min_temp = float(input("what is the minimum temperature you would like for your vacation"))
max_temp = float(input("what is the maximum temperature you would like for your vacation"))

what is the minimum temperature you would like for your vacation60
what is the maximum temperature you would like for your vacation85

In [8]:
# Ask the customer if you want it to be raining 
rain_amount = input ("Do you want it to be raining?(yes/no)")

Do you want it to be raining?(yes/no)no

In [9]:
snow_amount = input("Do you want it to be snowing (yes/no)")

Do you want it to be snowing (yes/no)no

In [10]:
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&
                                       (city_data_df["Max Temp"]>=min_temp)&
                                       (city_data_df["Rain (inches)"]==0)&
                                       (city_data_df["Snow (inches)"]==0)]
elif rain_amount =="no" and snow_amount =="yes":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&
                                       (city_data_df["Max Temp"]>=min_temp)&
                                       (city_data_df["Rain (inches)"]==0)&
                                       (city_data_df["Snow (inches)"]>=0.0)]
elif rain_amount =="yes" and snow_amount =="no":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&
                                       (city_data_df["Max Temp"]>=min_temp)&
                                       (city_data_df["Rain (inches)"]>=0.0)&
                                       (city_data_df["Snow (inches)"]==0)]

else:
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&
                                       (city_data_df["Max Temp"]>=min_temp)&
                                       (city_data_df["Rain (inches)"]>=0.0)&
                                       (city_data_df["Snow (inches)"]==0)]

In [11]:
filtered_cities_df.head()

,city_ID,City,Lat,Lng,Max Temp,Current Description,Rain (inches),Snow (inches),Humidity,Cloudiness,Wind Speed,Country
0,0,khatanga,71.97,102.50,63.37,scattered clouds,0,0.0,55,8.30,8.30,RU
1,1,avarua,-21.21,-159.78,75.20,clear sky,0,0.0,64,6.93,6.93,CK
2,2,busselton,-33.65,115.33,61.00,broken clouds,0,0.0,90,15.21,15.21,AU
4,4,rikitea,-23.12,-134.97,73.85,overcast clouds,0,0.0,80,14.45,14.45,PF
8,8,hilo,19.73,-155.09,82.40,broken clouds,0,0.0,65,10.29,10.29,US

In [12]:
#Count the cities
filtered_cities_df.count()

city_ID                311
City                   311
Lat                    311
Lng                    311
Max Temp               311
Current Description    311
Rain (inches)          311
Snow (inches)          311
Humidity               311
Cloudiness             311
Wind Speed             311
Country                311
dtype: int64

In [13]:
# To drop the NA cities and run the code to make sure if any city dropped
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df.head()

,city_ID,City,Lat,Lng,Max Temp,Current Description,Rain (inches),Snow (inches),Humidity,Cloudiness,Wind Speed,Country
0,0,khatanga,71.97,102.50,63.37,scattered clouds,0,0.0,55,8.30,8.30,RU
1,1,avarua,-21.21,-159.78,75.20,clear sky,0,0.0,64,6.93,6.93,CK
2,2,busselton,-33.65,115.33,61.00,broken clouds,0,0.0,90,15.21,15.21,AU
4,4,rikitea,-23.12,-134.97,73.85,overcast clouds,0,0.0,80,14.45,14.45,PF
8,8,hilo,19.73,-155.09,82.40,broken clouds,0,0.0,65,10.29,10.29,US

In [14]:
# After dropping the NA cities count it one more time to see how may cities are dopped.
# we can see the number did not change, that mean no city was dopped. 
filtered_cities_df.count()

city_ID                311
City                   311
Lat                    311
Lng                    311
Max Temp               311
Current Description    311
Rain (inches)          311
Snow (inches)          311
Humidity               311
Cloudiness             311
Wind Speed             311
Country                311
dtype: int64

In [15]:
#Add the cities to a marker layer map with a pop-up marker for each city that includes:
#Hotel name
#City
#Country
#Current weather description with the maximum temperature

hotel_df = filtered_cities_df[["City","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head()

        City Country  Max Temp    Lat     Lng Hotel Name
0   khatanga      RU     63.37  71.97  102.50
1     avarua      CK     75.20 -21.21 -159.78
2  busselton      AU     61.00 -33.65  115.33
4    rikitea      PF     73.85 -23.12 -134.97
8       hilo      US     82.40  19.73 -155.09

In [16]:
# Setting the parameters. these are the settings for gmaps.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterete through

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng =row["Lng"]
    
    params["location"]=f"{lat},{lng}"
    
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except IndexError:
        print ("Hotel name Not Found .....Keep skipping....")

Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....

In [ ]:
hotel_df.head()

In [16]:
output_data_file="./data/WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label ="city_ID")

In [17]:
vacation_df=pd.read_csv("./data/WeatherPy_Vacation.csv")
vacation_df.tail(10)

,city_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
301,554,shinpokh,PK,82.40,34.33,71.18,
302,556,umea,SE,64.40,63.83,20.26,Hotel Avenue | ProfilHotels
303,557,skala,PL,62.01,50.23,19.85,Hotel pod Kazimierzem
304,558,balkhash,KZ,71.60,46.84,74.98,Family
305,559,glossa,GR,78.01,35.47,23.78,Elia Hotel & Spa
306,560,ozark,US,81.00,37.02,-93.21,Americas Best Value Inn Ozark Springfield
307,563,san andres,CO,84.20,12.58,-81.70,Hotel Arena Blanca
308,569,north platte,US,84.20,41.12,-100.77,Holiday Inn Express & Suites North Platte
309,570,tarime,TZ,69.80,-1.35,34.37,Kifa Best Point Hotel
310,571,chornukhy,UA,62.33,50.27,32.94,

In [1]:
#Using the template add the hotel marks to the heatmao
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

NameError: name 'vacation_df' is not defined

In [2]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

NameError: name 'gmaps' is not defined